---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Experienced front-end developer with a strong foundation in HTML, CSS, and JavaScript. Skilled in responsive design, cross-browser compatibility, and user experience. Passionate about creating user-centric websites and applications that engage and delight users.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Associate of Science - Graphic Design"
      subtitle="2003 to 2005 at Westwood College of Technology, Anaheim, CA"
    />
    <TimeLineElement
      title="Associate of Science - AutoCAD"
      subtitle="2005 to 2007 at Westwood College of Technology, Anaheim, CA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Technical Project Manager / Front-End Web Developer"
      subtitle="From 2012 to Present at Designory, Long Beach, CA"
    >
      Designed and developed responsive websites and applications using HTML5, CSS3, and JavaScript. Collaborated with UX designers and backend developers to ensure seamless integration and optimal user experience. Worked with cross-functional teams to implement new features and enhancements, following agile development methodologies. Optimized website performance and accessibility, improving load times and search engine rankings. Conducted thorough testing and debugging to ensure high-quality, error-free code. Maintained and updated existing codebases, using Git/GitHub for version control and collaboration. Helped the development team with JIRA scrum boards and agile processes.
    </TimeLineElement>
    <TimeLineElement
      title="Front-End Web Developer"
      subtitle="From 2011 to 2012 at Kelley Blue Book, Irvine, CA"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Front-End Web Developer"
      subtitle="From 2010 to 2011 at Assured Performance, Irvine, CA"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1SrBVTHVHSuQdvYefSs-e3-xbMMkK3xz_/view?usp=sharing" target="_blank">  Certified ScrumMaster® by SCRUM ALLIANCE®</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>jQuery</li>
    <li>React.js</li>
    <li>Bootstrap</li>
    <li>SASS/SCSS</li>
    <li>Git/GitHub/GitLab</li>
    <li>Agile Development</li>
    <li>Responsive Design</li>
    <li>Cross-Browser Compatibility</li>
    <li>User Experience (UX) Design</li>
    <li>Adobe Photoshop</li>
  </ul>
</BaseLayout>