---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    UX/UI Designer & Front-End Developer with 15+ years of experience, leveraging expertise in HTML, CSS, and JavaScript to deliver
user-centric web experiences. Adept at responsive design and cross-browser compatibility, ensuring seamless
functionality across devices and platforms. Passionate about crafting engaging and delightful user interfaces for
websites and applications.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Associate of Science - Graphic Design"
      subtitle="2003 to 2005 at Westwood College of Technology, Anaheim, CA"
    />
    <TimeLineElement
      title="Associate of Science - AutoCAD"
      subtitle="2005 to 2007 at Westwood College of Technology, Anaheim, CA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Technical Project Manager / Front-End Web Developer"
      subtitle="From 2012 to 2024 at Designory, Long Beach, CA"
    >
      Designed and developed responsive websites and applications using HTML5, CSS3, and JavaScript. Collaborated with UX/UI designers and backend developers to ensure seamless integration and optimal user experience. Worked with cross-functional teams to implement new features and enhancements, following agile development methodologies. Optimized website performance and accessibility, improving load times and search engine rankings. Conducted thorough testing and debugging to ensure high-quality, error-free code. Maintained and updated existing codebases, using Git/GitHub for version control and collaboration. Helped the development team with JIRA scrum boards and agile processes.
      <br/><br/>
      <strong>Amazon AMPS - Technical Project Management:</strong>
      <ul>
        <li>Led cross-functional teams using Agile methodologies (scrum, kanban) to deliver complex web projects.</li>
        <li>Utilized JIRA and Scrum Master Align to optimize project workflows and track progress.</li>
        <li>Facilitated scrum ceremonies (e.g., daily stand-ups and sprint planning) to ensure team alignment and
accountability.</li>
      </ul>
      <br/>

      <strong>Nissan, Subaru (FHI), TMI, VCA Animal Hospitals - Web Development:</strong>
      <ul>
        <li>Developed and implemented numerous responsive websites and applications using HTML, CSS, and
      JavaScript (e.g., built complex CMS platforms, set up Wordpress sites, worked on React applications).</li>
        <li>Collaborated with UX/UI designers using Figma to ensure a seamless user journey and optimal user
      experience.</li>
        <li>Worked with cross-functional teams using Agile methodologies to implement new features (e.g., a new
      authentication system) and enhancements.</li>
        <li>Optimized website performance, resulting in a 20% increase in conversion rate and improved search engine
      rankings.</li>
        <li>Conducted thorough testing and debugging to deliver high-quality, error-free code.</li>
        <li>Maintained and updated existing codebases using Gitlab/GitHub for version control and collaboration.</li>
        <li>Supported the development team by optimizing JIRA scrum boards and facilitating agile methodologies.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Front-End Web Developer"
      subtitle="From 2011 to 2012 at Kelley Blue Book, Irvine, CA"
    >
      Developed and implemented responsive front-end components for KBB.com's mobile website, translating design mockups and specifications into production-ready code using HTML5, CSS3, and JavaScript/jQuery. Leveraged ASP .NET environment for server-side rendering.
      <ul>
        <li>Collaborated with UX/UI designers to seamlessly integrate their front-end style changes, ensuring a
consistent and user-friendly mobile experience.</li>
        <li>Utilized a comprehensive technical stack including JavaScript, jQuery, HTML5, CSS3, ASP .NET with Razor and
MVC frameworks to deliver high-performance and maintainable web applications.</li>
        <li>Contributed to eﬃcient code deployment through version control using Mercurial.</li>
        <li>Enhanced user interaction on mobile devices by implementing the jQuery Mobile Framework and Backbone.js
library.</li>
      </ul>
    </TimeLineElement>
    <TimeLineElement
      title="Front-End Web Developer"
      subtitle="From 2010 to 2011 at Assured Performance, Irvine, CA"
    >
      A front-end web developer working to create and maintain websites for companies and clients. Worked with back-end developers to add functionality to sites.
      <ul>
        <li>Maintain company websites</li>
        <li>Create new websites for company or customers</li>
        <li>Work with SVN and CodeIgniter for websites/projects</li>
        <li>Design and build templates for customers to purchase</li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1SrBVTHVHSuQdvYefSs-e3-xbMMkK3xz_/view?usp=sharing" target="_blank">  Certified ScrumMaster® by SCRUM ALLIANCE®</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-4 columns-2 mx-6">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript/jQuery</li>
    <li>React.js</li>
    <li>Bootstrap/Tailwind</li>
    <li>PHP</li>
    <li>Wordpress</li>
    <li>Git/GitHub/GitLab</li>
    <li>Responsive Design</li>
    <li>Cross-Browser Compatibility</li>
    <li>UX/UI Design</li>
    <li>Adobe Photoshop</li>
    <li>Figma</li>
    <li>ChatGPT / Gemini AI's</li>
  </ul>
</BaseLayout>