---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="oddhiddengems.com"
    img="/post-oddhiddengems.webp"
    desc="Designed & developed a responsive website that showcases a collection of hidden gems on Amazon. The site was built using Astro, TailwindCSS, and hosted on Cloudfare."
    url="https://oddhiddengems.com/"
    badge="Astro, TailwindCSS, Cloudfare"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Orbital Fueling Station - Splash Page"
    img="/post-img-ofs.webp"
    desc="Designed a splash page for a fictional orbital fueling station."
    url="/splash-page-ofs.webp"
    badge="UX/UI, Splash Page"
  />
  <div class="divider my-0"></div> 
  <HorizontalCard
    title="Payment Dialog - Europe"
    img="/post-img-payment-dialog-europe.webp"
    desc="Created a visually appealing and functional payment dialog for European markets, designed in Figma."
    url="blog/uxui-payment-dialog-for-europe"
    badge="UX/UI"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="ePro Inc"
    img="/post_img_epro.jpg"
    desc="Maintain and update a Craft CMS 3 website, originally designed and built by another agency. Provided ongoing maintenance and updates for a Craft CMS 3 website, ensuring optimal performance and user experience."
    url="https://www.eproinc.com/"
    badge="CraftCMS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Amazon Holiday Toy Email"
    img="/post-img-amazon-holiday-toy-emails.webp"
    desc="Developed an email campaign for Amazon's Holiday Toy launch, collaborating with UX/UI designers to optimize layout for maximum impact across all major email clients."
    url="/emails/amazon-holiday-toy-email/index.html"
    badge="Email"
  />
  <HorizontalCard
    title="Amazon Easter Email"
    img="/post-img-amazon-easter-emails.webp"
    desc="Leveraged email design best practices to create a responsive email campaign for Amazon's Easter launch, optimizing for maximum engagement across devices."
    url="/emails/amazon-easter-email.html"
    badge="Email"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Nissan eBrochures 2024"
    img="/post_img_nissan.jpg"
    desc="Help development components for the new 2024 Nissan eBrochures. They are currently in the process of rolling them out to each model. Here is the 2024 Nissan Leaf eBrochure."
    url="https://www.nissanusa.com/interactivebrochures/electric-hybrid-cars/leaf/leaf-electric-driving/index.html"
    badge="Front-end Dev"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="BMSA Group"
    img="/post_img_bmsa.jpg"
    desc="Currently maintaining an existing website, while planning a comprehensive redesign and rebuild to enhance user experience and functionality."
    url="https://www.bmsagroup.com/"
  />
</BaseLayout>
