---
const year = new Date().getFullYear()
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {year} Anthony Ellsworth
  </div>
</footer>

<!-- Backup for Server side date -->
<script is:inline>
	document.getElementById("footer-year").innerText = new Date().getFullYear;
</script>