<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a href="https://github.com/BuiltInOneDay" target="_blank" class="mx-3" aria-label="Github" title="Github">
        <svg width="24" height="24" class="s-6 sm:s-7" aria-hidden="true" data-icon="social/github">   <symbol id="ai:local:social/github" viewBox="0 0 16 16"><path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"></path></symbol><use href="#ai:local:social/github"></use>  </svg>
    </a>
    <a href="https://x.com/HampsteadStudio" target="_blank" class="mx-3" aria-label="Twitter" title="Twitter">
        <svg width="24" height="24" class="s-6 sm:s-7" aria-hidden="true" data-icon="social/twitter">   <symbol id="ai:local:social/twitter" viewBox="0 0 24 24"><path fill="currentColor" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"></path></symbol><use href="#ai:local:social/twitter"></use>  </svg>
    </a>
    <a
        href="https://www.linkedin.com/in/anthonyellsworth"
        target="_blank"
        class="mx-3"
        aria-label="Linkedin"
        title="Linkedin"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><circle cx="4.983" cy="5.009" r="2.188"></circle><path
                d="M9.237 8.855v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66H9.237zm-6.142 0H6.87v12.139H3.095z"
            ></path>
        </svg>
    </a>
    <a
        href="https://bsky.app/profile/hampsteadstudios.bsky.social"
        target="_blank"
        class="mx-3"
        aria-label="BlueSky"
        title="BlueSky"
    >
        <svg width="24" height="24" class="s-6 sm:s-7" aria-hidden="true" data-icon="social/bluesky">   <symbol id="ai:local:social/bluesky" viewBox="0 0 64 57"><path fill="currentColor" d="M13.9 3.8A75.1 75.1 0 0 1 32 26.6v15.8c0-.3-.1 0-.4.9-1.5 4.5-7.4 21.8-21 8-7-7.4-3.8-14.7 9.2-17-7.4 1.4-15.7-.7-18-9A193 193 0 0 1 0 6.6C0-3.3 8.6-.1 13.9 3.9Zm36.2 0A75.1 75.1 0 0 0 32 26.6v15.8c0-.3.1 0 .4.9 1.5 4.5 7.4 21.8 21 8 7-7.4 3.8-14.7-9.2-17 7.4 1.4 15.7-.7 18-9A193 193 0 0 0 64 6.6c0-9.8-8.6-6.7-13.9-2.7Z"></path></symbol><use href="#ai:local:social/bluesky"></use>  </svg>
    </a>

    <!-- <a href="/rss.xml" target="_blank" class="mx-3" aria-label="RSS Feed" title="RSS Feed">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"></path><path
                d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"></path><circle cx="6" cy="18" r="2"
            ></circle>
        </svg>
    </a> -->
</div>
